Source: graft
Section: net
Priority: optional
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Build-Depends: debhelper (>= 11), cmake, g++, libboost-dev (>= 1.58), libboost-system-dev, libboost-filesystem-dev, libboost-thread-dev,
 libboost-date-time-dev, libboost-chrono-dev, libboost-regex-dev, libboost-serialization-dev, libboost-program-options-dev,
 libboost-locale-dev, libunbound-dev (>= 1.4.16), libminiupnpc-dev, libunwind8-dev, libssl-dev,
 libreadline-dev, libexpat1-dev, doxygen, graphviz
Standards-Version: 4.1.3
Homepage: https://github.com/graft-project/GraftNetwork

Package: libgraft0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GRAFT network libraries
 This package contains the common GRAFT library code used by the other GRAFT
 packages.

Package: graftnoded
Architecture: any
Depends: libgraft0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: graft-blockchain-tools
Description: GRAFT node
 This package contains the GRAFT P2P node, graftnoded, for synchronizing and
 supporting the GRAFT blockchain.

Package: graft-wallet
Architecture: any
Depends: libgraft0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: graftnoded
Description: GRAFT command-line and RPC wallets
 This package contains the GRAFT command-line and RPC interfaces to access a
 wallet on the GRAFT blockchain.
 .
 graft-wallet-cli is a command-line interface to a GRAFT wallet.
 .
 graft-wallet-rpc provides a JSON RPC interface to an GRAFT wallet and is
 typically used by software such as pools that need to interact with a wallet.
 .
 Both wallets requires an graft node to work, such as the provided in the
 graftnoded package.

Package: graft-blockchain-tools
Architecture: any
Depends: graftnoded (= ${binary:Version}), libgraft0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GRAFT blockchain utilities
 This contains the graft-blockchain-* binaries for blockchain export and
 import.
