#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DSTATIC=OFF -DUSE_LTO=ON -DBUILD_SHARED_LIBS=ON \
		-DENABLE_SYSLOG=ON -DARCH=westmere -DCMAKE_CXX_FLAGS="-mtune=haswell" -DCMAKE_C_FLAGS="-mtune=haswell" \
		-DGRAFT_BINARY_SUFFIX=.alpha -DGRAFT_INSTALL_INCLUDE_SUBDIR=graft.alpha -DGRAFT_INSTALL_LIBRARY_SUBDIR=graft.alpha \
		-DCMAKE_INSTALL_RPATH=/usr/lib/$(DEB_HOST_MULTIARCH)/graft.alpha \
		-DDEBIAN_VERSION_SUFFIX=$(shell dpkg-parsechangelog -SVersion | sed -e 's/[^-]*-//')-graft.community

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/$(DEB_HOST_MULTIARCH)/graft.alpha

override_dh_strip:
	dh_strip --no-ddebs
